{% extends "base.html" %}
    {% block content %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">process order</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Payment info</p>
                </div>
            </div>
        </header>
        <div class="card">
            <div class="card-header">
              Order Summary
            </div>
            <div class="card-body">
                {% for product in cart_products %}
                {{ product.name }}:
                R{{product.price}}
                <br>
               
                {% for key, value in quantities.items %}
                {% if key == product.id|slugify %}
              <small>
                Quantity: <option value="selected">{{ value }}</option>
              </small>  
                {% endif %}
              {% endfor %}
                {%endfor%}
              Total: R{{totals}}
              <br><a href="{% url 'cart_summary' %}" class="btn btn-sm btn-outline-secondary">Update Order</a>
            </div>
            
          </div>
          <div class="card">
            <h5 class="card-header">Shipping Info</h5>
            <div class="card-body">
               Name: {{shipping_info.shipping_full_name }}
               <br>Address: {{shipping_info.shipping_address1}}, 
               <br>{{shipping_info.shipping_address2}} 
               <br> {{shipping_info.shipping_city}}
               <br> {{shipping_info.shipping_state}}
               <br> {{shipping_info.shipping_zipcode}}
               <br> {{shipping_info.shipping_country}}  
              <br> <a href="{% url 'checkout' %}" type="submit" class="btn btn-outline-secondary">Update Shipping</a>           
            </div>
          </div>
          <div class="card">
            <h5 class="card-header">Billing Info</h5>
            <div class="card-body">
               <form method="POST">
                {% csrf_token %}
                {{billing_form.as_p}}
               </form>
               <button >Pay Now</button>
              <!-- <br> <a href="{% url 'checkout' %}" type="submit" class="btn btn-outline-secondary">Update Billing</a>            -->
            </div>
          </div>
          
    {%endblock%}