{% extends "base.html" %}
    {% block content %}
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About us</h1>
            </div>
        </div>
    </header>
    <div id="about">
        <div class="container">
            <div class="row">
                <div class="col-auto">
                    <br><br><br><br><br>
                    <p class="section-description">Welcome to Frugal Harvest, your one-stop destination for fresh and affordable produce. We are dedicated to revolutionizing the way people access high-quality fruits and vegetables.</p>
                    <p class="section-description">At Frugal Harvest, we believe that everyone deserves access to nutritious food, regardless of their budget. That's why we work tirelessly to source the freshest produce directly from local farmers and producers, cutting out the middlemen and passing the savings on to you.</p>
                        <p class="section-description">Our team is passionate about providing exceptional customer service and ensuring your satisfaction with every purchase. Whether you're a health-conscious individual looking for the freshest ingredients for your meals or a busy parent trying to feed your family nutritious meals on a budget, Frugal Harvest is here for you.</p>
                        <p class="section-description">We are committed to supporting our local communities and promoting sustainable farming practices. By choosing Frugal Harvest, you're not just getting delicious fruits and vegetables – you're also supporting small-scale farmers and helping to build a more sustainable food system.</p>    
                    </div>
                </div>
                
                
            </div>
        </div>
        <br><br><br><br><br><br><br><br><br>
    {%endblock%}